body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

#navbar {
  color: white;
  background-color: rgb(73, 17, 17);
}

.navbar-toggler-icon {
  color: white;
}

#collapsed_links{
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

#icon {
  color: white;
}

.nav-link {
  color: white;
}

@media only screen and (max-width: 600px) {
  #form_container{
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.formgroup {
  background-color: rgb(73, 17, 17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  color: white;
}

.submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.btn {
  color: white;
  background-color: green;
  width: 90px;
}

/* OUTPUT CSS */

#book_name_out {
  background-color: green;
  margin: 10px;

  text-align: center;
}

/* OUTput CSS */

.added_books_heading {
  color: white;
  text-align: center;
}

footer {
  height: 60px;
  color: white;
   margin-top: 100px;
}
.footer_text {
  text-align: center;
}
